* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #DCEDFF; */
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}